body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
  }
  
  .profile-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    text-align: left;

  .profile-img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 15px;
      }
      
      .name {
        font-size: 24px;
        font-weight: bold;
        margin: 10px 0 ;
      }
      
      .age,
      .city,
      .profession,
      .hobbies,
      .phone_number,
      .bio {
        margin: 10px 0;
        color: #555;
        font-size: 22px;
      }
      
      .bio {
        line-height: 1.5;
      }
      
      .summary {
        font-size: 20px;
        font-style: italic;
      }
      
      .buttons {
        margin-top: 20px;
      }
      
      .btn {
        background-color: #538a01;
        border: none;
        color: white;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
      }
      
      .btn:hover {
        background-color: #538a01;
      }
  }